#jenis_arsip h6 {
  color: #0246fb;
  font-size: 25px;
  font-weight: 700;
  margin-top: 15%;
}
.card-img-top {
  padding: 20px;
  text-align: center;
}

.card:hover {
  border-color: #FFA212 !important;
}

.card {
  border-radius: 30px !important;
  border: 3px solid !important;
  border-color: #0246fb !important;
}
.card .card-img-top {
  align-items: center;
}
.card-subtitle {
  background-color: #0246fb;
  text-align: center;
}
.card:hover .card-subtitle {
  background-color: #FFA212;
}
.card-body {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}